
body{
    display: inline-flex;
    position: absolute
    
}
.click{
    width: 280px;
    height: 75px;
    down: 20px;
    left: 20px;
    padding: 10px;
    background-color: #999393;
    text-align: center;

}
.amount {
    width: 400px;
    height: 75px;
    padding: 10px;
    background-color:  #999393;
    text-align: center;
}
