
*{
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh:
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container{
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-posisiton: center;
    background-repeat: no-repeat;
    height: 80vh;
    margin: 10px;
    border-radius: 50px;
    flex: 1;
}
