body {
    display: flex;
    inline: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/*.background {
    background-image: url("mainpage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255,255,255);
    position: relative;
    z-index: -1;

}  I WANTED TO MAKE A BACKGROUND BUT ITS LITERALLY NOT WORKING RIGHT
    */
.welcome {
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    text-align: center;
    justify-content: center;
    color: rgb(255,255,255)


}
.welcome h3 {
    font-size: 50px;

}
.container {
    display: flex;

}
.ClickList {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 300px;
    height: 100px;
    cursor: pointer;
    align-items: center;
}

.ClickList:hover {
    background-color: rgb(30,30,30)
}

h3 {
    color: white;
    text-align: center;
    margin: 0;
}

.dih {
    display: none;
}

.dih.active {
    display: block;
    background-color: black;
    width: 300px;
    padding: 10px;
    /*z-index: 8;*/

}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(200,200,200);
}
