@im
{
    box-sizing:border-box;
}
.welcome {
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    text-align: center;
    justify-content: center;
    color: rgb(255,255,255)

}
a {
    text-decoration: none;
    color : white;
}
a:hover {
    color : rgba(200,200,200)
}


body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.bg{
    background-image: url('../images/dog.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
    filter: blur(50px);
    z-index: -1;

}

.loading-text {

    font-size: 50px;
    color:white;


}

