*{
    box-sizing: border-box;
}


body{
    background-image: linear-gradient(90deg, orange, blue);
    display: flex; /* Uses Flexbox, which responds to different screen sizes*/
    align-items: center; /* Vertically Center*/
    justify-content: center; /*horizontally center*/
    height: 100vh; /* Setting body height to 100%*/
    margin: 0;
}

.search .input{

    height: 50px;
    width: 200px;
    font-size: 18px;
    padding: 15px;
    border: 15px;
    background-color: #ffffff;
}
.btn{
background-color: white;
border: 0;
font-size: 24px;
height: 50px;
width: 50px;
}
